python-dotenv
pandas
numpy
requests
pydantic
tqdm
rich

openai
langchain
langchain-community
langgraph
tiktoken

yfinance
eventregistry
fredapi
alpha_vantage
sec-edgar-downloader

nltk
scikit-learn
faiss-cpu

matplotlib
plotly

jupyter
ipykernel
nbconvert
pyppeteer

black
ruff
mypy
